<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="fonts/Segoe/stylesheet.css">
    <link rel="stylesheet" href="fonts/Sora/stylesheet.css">
    <link rel="stylesheet" href="css/peopleMob.css">
    <title>Kurultai beta</title>
</head>
<body>
    <div class="wrapper">
        <main>
            <div class="container">
                <div class="main">
                    <section class="peopleMob">
                        <div class="component">
                            <div class="componentHead">
                                <h2>Люди</h2>
                                <div class="actions">
                                    <div class="minus"><img src="images/people/minus.svg" alt=""></div>
                                    <div class="trigger"><img src="images/people/triple.svg" alt=""></div>
                                </div>
                            </div>
                            <ul>
                                <li><a href="delegats.html">Делегаты</a></li>
                                <li>Тор Ага</li>
                                <li>Заместител</li>
                                <li>Катчы</li>
                             </ul>
                        </div>
                        <div class="component">
                            <div class="componentHead">
                                <h2>Рубрики</h2>
                                <div class="actions">
                                    <div class="minus"><img src="images/people/minus.svg" alt=""></div>
                                    <div class="trigger"><img src="images/people/triple.svg" alt=""></div>
                                </div>
                            </div>

                            <ul>
                                <li>Земельные участки</li>
                                <li>Политика</li>
                                <li><a href="rubrics.html">Спорт</a></li>
                                <li>СМИ</li>
                                <li>Жогорку кенеш</li>
                            </ul>

                        </div>
                    </section>
                    <div class="question">
                        <button>Задать вопрос</button>
                    </div>
                    
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footerInner">
                <a href="indexActive.html">
                    <div><img src="images/modileFooter/homeDef.svg" alt=""></div>
                </a>
                <a href="peopleMob.html">
                    <div><img src="images/modileFooter/peopleActive.svg" alt=""></div>
                </a>
                <a href="chats.html">
                    <div><img src="images/modileFooter/message.svg" alt=""></div>
                </a>
                <a href="profile.html">
                    <div><img src="images/modileFooter/profile.svg" alt=""></div>
                </a>
            </div>
        </footer>
    </div>
    
</body>
</html>