<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="fonts/Segoe/stylesheet.css">
    <link rel="stylesheet" href="fonts/Sora/stylesheet.css">
    <link rel="stylesheet" href="css/bundle.css">
    <link rel="stylesheet" href="css/post.css">
    <title>Kurultai beta</title>
</head>
<body>
    <div class="wrapper">
        <header id="headerJs">
            <div class="container">
                <div class="menuInner">
                    <a href="#"><div class="menuLogo"><img src="images/header/logo.svg" alt="logo"></div></a>
                    <div class="search">
                        <img src="images/header/logotext.svg" alt="">
                    </div>
                    <div class="menuRight">
                        <div class="ava">
                            <a href="profile.html" class="avaImg"><img src="images/header/ava.svg" alt="image"></a>
                            <div class="avaArow"><img src="images/header/down.svg" alt="image"></div>
                        </div>
                        <div class="menuActions" >
                            <div class="menuActionsE"><img src="images/header/setting.svg" alt="image"></div>
                            <div class="menuActionsE"><img src="images/header/lamp.svg" alt="image"></div>
                            <div class="menuActionsE"><img src="images/header/notification.svg" alt="image"></div>
                        </div >
                    </div>
                    <div class="menuBurger" id="menu">
                        <span></span>
                    </div>
                    <div class="burgerActive hide" >
                        <div class="ava forProfile" >
                            <div class="avaImg"><img src="images/header/ava.svg" alt="image"></div>
                        </div>
                        <div class="menuActions" >
                            <div class="menuActionsEb"><img src="images/header/setting.svg" alt="image"></div>
                            <div class="menuActionsEb"><img src="images/header/lamp.svg" alt="image"></div>
                            <div class="menuActionsEb"><img src="images/header/notification.svg" alt="image"></div>
                        </div >
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="main">
                    <section class="profile">
                        <div class="profileList">
                            <ul>
                                <li>
                                    <a href="indexActive.html">
                                        <div><img src="images/profile/list.svg" alt="list"></div>
                                        <h4>Лента</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="chats.html">
                                        <div> <span>2</span><img src="images/profile/list.svg" alt="list"></div>
                                        <h4>Сообщения</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="delegats.html">
                                        <div><img src="images/profile/list.svg" alt="list"></div>
                                        <h4>Делегаты</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="rubrics.html">
                                        <div><img src="images/profile/list.svg" alt="list"></div>
                                        <h4>Рубрики</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="profile.html">
                                        <div><img src="images/profile/profile.svg" alt="list"></div>
                                        <h4>Профиль</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="profileSettings">
                            <h3>Настройки</h3>
                            <ul>
                                <li>
                                    <a href="settings.html">
                                        <div><img src="images/profile/settings.svg" alt=""></div>
                                        <h4>Настройки</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="security.html">
                                        <div><img src="images/profile/security.svg" alt=""></div>
                                        <h4>Безопасность</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div><img src="images/profile/quit.svg" alt=""></div>
                                        <h4>Выйти</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="backBtn">
                            <a href="indexActive.html" class="image"><img src="images/chat1/back.svg" alt="svg"><p>Назад</p></a>
                    </section>
                    <section class="Post">
                        <div class="PostImage" id="introJs">
                            <img src="images/news/choice.png" alt="news">
                            <div class="PostText">
                                <h2>Что выбирает народ для себя голосование на выбор недвижимости</h2>
                                <p>Title titleTitle titleTitle titleTitle tittle titleTitle titleTitltle titleTitle titleTitltle titleTitle titleTitlle</p>
                            </div>
                        </div>
                            <!-- <button class="btnYellow">Обсуждение</button> -->
                        <div class="text"><p>Экономия электроэнергии. В Бишкеке будут веерно отключать уличное освещение В Бишкеке уличное освещение будет работать пофазно. Об этом сообщили в пресс-службе мэрии.Экономия электроэнергии. В Бишкеке будут веерно отключать уличное освещение В Бишкеке уличное освещение будет работать пофазно. Об этом сообщили в пресс-службе мэрии.Экономия электроэнергии. В Бишкеке будут веерно отключать уличное освещение В Бишкеке уличное освещение будет работать пофазно. Об этом сообщили в пресс-службе мэрии.</p></div>
                            
                        <div class="prevEnd"></div>
                        <div class="PostEnd">
                            <div class="like">
                                <img class="likeActive" src="images/news/likeN.svg" alt="">
                                <img src="images/news/like.svg" alt="">
                                    <!-- <span>Понравилось</span> -->
                                <div class="likeCount">
                                    <span>34k людям понравилось</span>
                                </div>
                            </div>
                            <div href="post1.html" class="comments">
                                <p>Комментарии <span>420</span></p>
                            </div>
                        </div>
                        <div class="comment">
                            <h2>Коментарий</h2>
                            <form action="">
                                <div class="forName">
                                    <div>
                                        <label for="text">Имя: </label>
                                        <input required name="text" type="text" placeholder="Ваше Имя">
                                    </div>
                                    <div>
                                        <label for="email">Email: </label>
                                        <input name="email" required type="email" placeholder="Ваш Email">
                                    </div>
                                </div>
                                <div class="forComment">
                                    <input required type="text" placeholder="Ваш комментарий...">
                                    <button type="submit"><img src="images/chat1/send.svg" alt=""></button>
                                </div>
                            </form>
                            <div class="otherComments">
                                <div class="otherCommentsE">
                                    <h3>Кайрат</h3>
                                    <p class="textComment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique obcaecati nihil optio itaque, delectus distinctio?</p>
                                </div>
                                <div class="otherCommentsE">
                                    <h3 class="nameC">Дастан</h3>
                                    <p class="textComment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique obcaecati nihil optio itaque, delectus distinctio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur vero atque, veniam cumque non doloremque at fuga blanditiis, quibusdam expedita ab eius assumenda vel incidunt?</p>
                                </div>
                                <div class="otherCommentsE">
                                    <h3>Байэл</h3>
                                    <p class="textComment">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique obcaecati nihil optio itaque, delectus distinctio? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur vero atque, veniam cumque non doloremque at fuga blanditiis, quibusdam expedita ab eius assumenda vel incidunt?</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footerInner">
                <a href="indexActive.html">
                    <div><img src="images/modileFooter/home.svg" alt=""></div>
                </a>
                <a href="peopleMob.html">
                    <div><img src="images/modileFooter/people.svg" alt=""></div>
                </a>
                <a href="chats.html">
                    <div><img src="images/modileFooter/message.svg" alt=""></div>
                </a>
                <a href="profile.html">
                    <div><img src="images/modileFooter/profile.svg" alt=""></div>
                </a>
            </div>
        </footer>
    </div>
</body>
<script src="js/app.js"></script>
</html>