{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/bundle.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link rel="stylesheet" href="{% static 'css/setNews.css' %}">
{% endblock %}
{% block content %}
        <main>
            <div class="container">
                <div class="main">
                    <section class="profile">
                        <div class="profileList">
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Newsline' %}</h4>
                                    </a>
                                </li>
                                {% if user.is_delegat %}
                                <li class="listActive">
                                    <a href="{% url 'chats' %}">
                                        <div> <span>2</span><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Messages' %}</h4>
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'delegats' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Delegates' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'rubrics' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Rubrics' %}</h4>
                                    </a>
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'profile' user.pk %}">
                                        <div><img src="{% static 'images/profile/profile.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Profile' %}</h4>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                        {% if user.is_superuser %}
                        <div class="profileSettings">
                            <h3>{% translate 'Management' %}</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'createchats' %}">
                                        <div><img src="{% static 'images/profile/settings.svg' %}" alt=""></div>
                                        <h4>{% translate 'Createchats' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'createnews' %}">
                                        <div><img src="{% static 'images/profile/security.svg' %}" alt=""></div>
                                        <h4>{% translate 'CreateNews' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <div><img src="{% static 'images/profile/quit.svg' %}" alt=""></div>
                                        <h4>{% translate 'CreatePost' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'commentlist' %}">
                                        <div><img src="{% static 'images/profile/profile.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Comments' %}</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <div class="profileSettings">
                            <h3>{% translate 'Settings' %}</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'settings' %}">
                                        <div><img src="{% static 'images/profile/settings.svg' %}" alt=""></div>
                                        <h4>{% translate 'Settings' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'security' %}">
                                        <div><img src="{% static 'images/profile/security.svg' %}" alt=""></div>
                                        <h4>{% translate 'Security' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <div><img src="{% static 'images/profile/quit.svg' %}" alt=""></div>
                                        <h4>{% translate 'Logout' %}</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </section>

                    <section class="formNews">
                        <form action="" class="aftorizRight" method="post">
                                <h2>{% trans 'Add pool' %}</h2>
                                <div class="formDatas">
                                    <div class="pole">
                                        <label for="email2">{% trans 'Name' %}</label>
                                        {{ form.title }}
                                        <span><img src="{% static 'images/security/forfio.svg' %}" alt="svg"></span>
                                    </div>
                                    <div class="pole">
                                        <label for="password">{% trans 'Description' %}</label>
                                        {{ form.content }}
                                        {% csrf_token %}

                                    </div>

                                </div>
                                <input class="submitBtn" type="submit" value="{% trans 'Create' %}">

                            </form>
                    </section>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footerInner">
                <a href="indexActive.html">
                    <div><img src="{% static 'images/modileFooter/home.svg' %}" alt=""></div>
                </a>
                <a href="peopleMob.html">
                    <div><img src="{% static 'images/modileFooter/people.svg' %}" alt=""></div>
                </a>
                <a href="chats.html">
                    <div><img src="{% static 'images/modileFooter/message.svg' %}" alt=""></div>
                </a>
                <a href="profile.html">
                    <div><img src="{% static 'images/modileFooter/profile.svg' %}" alt=""></div>
                </a>
            </div>
        </footer>
{% endblock %}