{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<link rel="stylesheet" href="{% static 'css/bundle.css' %}">

<link rel="stylesheet" href="{% static 'css/aftorizHeader.css' %}">

{% endblock %}

        {% block content %}

        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Создать">
            </form>
        </main>

        {% endblock %}