{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/bundle.css' %}">
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<link rel="stylesheet" href="{% static 'css/setNews.css' %}">
{% endblock %}
{% block content %}
        <main>
            <div class="container">
                <div class="main">

                    <section class="formNews" style="margin: 40px;">
                        <form action="" class="aftorizRight" method="post" enctype="multipart/form-data">
                                <h2>Добавить опрос</h2>
                                <div class="formDatas">
                                    <div class="pole">
                                        <label for="email2">Рубрика</label>
                                        {{ form.rubric }}
                                        <span><img src="{% static 'images/security/forfio.svg' %}" alt="svg"></span>
                                    </div>
                                    <div class="pole">
                                        <label for="email2">Название</label>
                                        {{ form.title }}
                                        <label for="email2">Название en</label>
                                        {{ form.title_en }}
                                        <label for="email2">Название ru</label>
                                        {{ form.title_ru }}
                                        <span><img src="{% static 'images/security/forfio.svg' %}" alt="svg"></span>
                                    </div>
                                    <div class="pole">
                                        <label for="email2">Превью</label>
                                        {{ form.preview }}
                                        <label for="email2">Превью en</label>
                                        {{ form.preview_en }}
                                        <label for="email2">Превью ru</label>
                                        {{ form.preview_ru }}{% csrf_token %}
                                        <span><img src="{% static 'images/security/forfio.svg' %}" alt="svg"></span>
                                    </div>


                                    <div class="pole">
                                        <label for="email2">Фото</label>
                                        {{ form.image }}
                                        <span><img src="{% static 'images/security/forfio.svg' %}" alt="svg"></span>
                                    </div>

                                </div>
                            <label for="email2">Описание</label>
                            {{ form.content }}
                            <label for="email2">Описание en</label>
                            {{ form.content_en }}
                            <label for="email2">Описание ru</label>
                            {{ form.content_ru }}

                                <input class="submitBtn" type="submit" value="Создать">

                            </form>

                    </section>
                </div>

            </div>
        </main>
        <footer class="footer">
            <div class="footerInner">
                <a href="indexActive.html">
                    <div><img src="{% static 'images/modileFooter/home.svg' %}" alt=""></div>
                </a>
                <a href="peopleMob.html">
                    <div><img src="{% static 'images/modileFooter/people.svg' %}" alt=""></div>
                </a>
                <a href="chats.html">
                    <div><img src="{% static 'images/modileFooter/message.svg' %}" alt=""></div>
                </a>
                <a href="profile.html">
                    <div><img src="{% static 'images/modileFooter/profile.svg' %}" alt=""></div>
                </a>
            </div>
        </footer>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}