{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/bundle.css' %}">
<link rel="stylesheet" href="{% static 'css/success.css' %}">
{% endblock %}
        <main>
            <div class="container">
                <div class="main">
                    <section class="success">
                        <div class="galka"><img src="{% static 'images/security/Icon.png' %}" alt="galka"></div>
                        <h1>{% trans 'A confirmation email has been sent to your email' %}</h1>
                        <a href="{% url 'home' %}">{% trans 'Back to home' %}</a>
                    </section>
                </div>
            </div>
        </main>
{% endblock %}