{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
{% endblock %}
{% block content %}
        <main>
            <div class="container">
                <div class="main">
                    <section class="profile">
                        <div class="profileList">
                            <ul>
                                <li class="listActive">
                                    <a href="{% url 'home' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Newsline' %}</h4>
                                    </a>
                                </li>
                                {% if user.is_delegat %}
                                <li>
                                    <a href="{% url 'chats' %}">
                                        <div> <span>2</span><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Messages' %}</h4>
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{% url 'delegats' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Delegates' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'rubrics' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Rubrics' %}</h4>
                                    </a>
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'profile' user.pk %}">
                                        <div><img src="{% static 'images/profile/profile.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Profile' %}</h4>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                        {% if user.is_superuser %}
                        <div class="profileList">
                            <h3>{% translate 'Management' %}</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'createchats' %}">
                                        <div><img src="{% static 'images/profile/settings.svg' %}" alt=""></div>
                                        <h4>{% translate 'Createchats' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'createnews' %}">
                                        <div><img src="{% static 'images/profile/security.svg' %}" alt=""></div>
                                        <h4>{% translate 'CreateNews' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt=""></div>
                                        <h4>{% translate 'CreatePost' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'commentlist' %}">
                                        <div><img src="{% static 'images/profile/profile.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Comments' %}</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <div class="profileSettings">
                            <h3>{% translate 'Settings' %}</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'settings' %}">
                                        <div><img src="{% static 'images/profile/settings.svg' %}" alt=""></div>
                                        <h4>{% translate 'Settings' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'security' %}">
                                        <div><img src="{% static 'images/profile/security.svg' %}" alt=""></div>
                                        <h4>{% translate 'Security' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <div><img src="{% static 'images/profile/quit.svg' %}" alt=""></div>
                                        <h4>{% translate 'Logout' %}</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </section>

                    <section class="backBtn">
                            <a href="{% url 'home' %}" class="image"><img src="{% static 'images/chat1/back.svg' %}" alt="svg"><p>{% trans 'Back' %}</p></a>
                    </section>
                    <section class="Post">
                        <div class="PostImage" id="introJs">
                            <img src="{{ news.image.url }}" alt="news">
                            <div class="PostText" style="backdrop-filter: blur(10px); padding: 10px;">
                                <h2>{{ news.title }}</h2>
                                <p>{{ news.preview }}</p>
                            </div>
                        </div>
                            <!-- <button class="btnYellow">Обсуждение</button> -->
                        <div style="padding: 20px">{{ news.content|safe }}</div>
                        {% if news.voting %}
                        <div class="rezalts">
                                <h3>{% trans 'Results' %}: ({% trans 'Voted' %} - {{ total }})</h3>
                                <div class="rezaltsRenge">
                                    {% for i in questions %}
                                    <div class="rezaltsRengeE">
                                        <div class="title">
                                            <p>{{ i.title }} - {{ i.total_votes }}</p>
                                            <span>{{ i.procent }}%</span>
                                        </div>
                                        <div class="grey">
                                            <div class="orange" style="width: {{ i.procent }}%;"></div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                            <div class="rengse">
                            <div class="renge">
                                <div class="rengeElem"></div>
                            </div>
                            <div class="renge">
                                <div class="rengeElem"></div>
                            </div>
                            <div class="renge">
                                <div class="rengeElem"></div>
                            </div>
                        </div>
                        <div class="prevEnd">

                        </div>
                        <div class="PostEnd">
                            <div class="like">

                                {% if user in news.likes.all %}
                                <a href="{% url 'vote_like' news.pk %}"><img class="likeActive" src="{% static 'images/news/like.svg' %}" alt=""></a>
                                {% else %}
                                <a href="{% url 'vote_like' news.pk %}"><img class="likeActive" src="{% static 'images/news/likeN.svg' %}" alt=""></a>
                                {% endif %}



                                <div class="likeCount">
                                    <span>{% trans 'Like' %} - {{ news.likes.count }}</span>
                                </div>
                            </div>
                            <div class="comments">
                                <p>{% trans 'Comments' %}<span> - {{ comments.count }}</span></p>
                            </div>
                        </div>

                        <div class="comment">
                            <h2>{% trans 'Leave a comment' %}</h2>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="forName">
                                    <div>
                                        <label for="text">{% trans 'First Name:' %}</label>
                                        {{ comment_form.name }}
                                    </div>
                                    <div>
                                        <label for="email">Email: </label>
                                        {{ comment_form.email }}
                                    </div>
                                </div>
                                <div class="forComment">
                                    {{ comment_form.body }}
                                    <button type="submit"><img src="{% static 'images/chat1/send.svg' %}" alt=""></button>
                                </div>
                            </form>

                        </div>


                        <div class="comment">
                            <h2>{{ comments.count }} comments</h2>

                            {% for comment in page_obj %}
                            <div class="otherComments">
                                <div class="otherCommentsE">
                                    <h3>{{ comment.name }}</h3>{{ comment.created_on }}
                                    <p class="textComment">{{ comment.body | linebreaks}}</p>
                                </div>

                            </div>
                            {% endfor %}

                            <div class="pagination">
                                {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                {% endif %}
                                <a href="#" class="active">{{ page_obj.number }}</a>
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                                {% endif %}
                            </div>

                        </div>
                    </section>
                    
                </div>
            </div>
        </main>

{% endblock %}
