{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/bundle.css' %}">
<link rel="stylesheet" href="{% static 'css/resetPassword2.css' %}">
<link rel="stylesheet" href="{% static 'fonts/Segoe/stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'fonts/Sora/stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'css/aftorizHeader.css' %}">
{% endblock %}
{% block content %}
        <main>
            <div class="container">
                <div class="main">
                    <section class="headMob">
                        <a href="profile.html" class="back"><img src="{% static 'images/security/back1.svg' %}" alt=""></a>
                    </section>
                    <section class="resetP">
                        <h1>Восстановление пароля завершено
                              Ваш пароль был сохранен. Теперь вы можете войти.</h1>
                        <div class="menuAftoriz">
                            <a href="{% url 'login' %}"><button class="save" id="introJs" >Войти</button></a>
                        </div>

                    </section>
                </div>
            </div>
        </main>
<script src="{% static 'js/resetMenu2.js' %}"></script>
{% endblock %}

