{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/bundle.css' %}">
<link rel="stylesheet" href="{% static 'css/resetPassword.css' %}">
{% endblock %}
{% block content %}
        <main>
            <div class="container">
                <div class="main">
                    <section class="resetP">
                        <div class="left"><img src="{% static 'images/security/welcome.png' %}" alt="welcome"></div>
                        <form id="resetPassword" action="{% url 'resetPassword' %}" method="post" class="right">
                            {% csrf_token %}
                            <h1>Сброс пароля</h1>
                            <div class="pole">
                                <label for="old">Старый пароль</label>
                                 {{ form.old_password }}
                                <span class="eyeForOld"><img src="{% static 'images/security/eye.svg' %}" alt=""></span>
                            </div>
                            <div class="pole">
                                <label for="new">Новый пароль</label>
                                {{ form.new_password1 }}
                                <span class="eyeForNew"><img src="{% static 'images/security/eye.svg' %}" alt=""></span>
                            </div>
                            <div class="pole">
                                <label for="pass">Подтверждение1</label>
                                {{ form.new_password2 }}
                                <span class="eyeForPass"><img src="{% static 'images/security/eye.svg' %}" alt=""></span>
                            </div>
                            <input type="submit" value="Сохранить">
                        </form>
                    </section>
                </div>
            </div>
        </main>

<script src="{% static 'js/resetMenu.js' %}"></script>
<footer class="footer">
            <div class="footerInner">
                <a href="{% url 'home' %}">
                    <div><img src="{% static 'images/modileFooter/home.svg' %}" alt=""></div>
                </a>
                <a href="{% url 'delegats' %}">
                    <div><img src="{% static 'images/modileFooter/people.svg' %}" alt=""></div>
                </a>
                <a href="{% url 'chats' %}">
                    <div><img src="{% static 'images/modileFooter/message.svg' %}" alt=""></div>
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'profile' user.pk %}">
                    <div><img src="{% static 'images/modileFooter/profile.svg' %}" alt=""></div>
                </a>
                {% else %}
                <a href="{% url 'home' %}">
                    <div><img src="{% static 'images/modileFooter/profile.svg' %}" alt=""></div>
                </a>
                {% endif %}
            </div>
        </footer>
{% endblock %}