{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/bundle.css' %}">
<link rel="stylesheet" href="{% static 'css/resetPassword2.css' %}">
{% endblock %}
{% block content %}
        <main>
            <div class="container">
                <div class="main">
                    <section class="headMob">
                        <a href="profile.html" class="back"><img src="{% static 'images/security/back1.svg' %}" alt=""></a>
                    </section>
                    <section class="resetP">
                        <div class="left"><img src="{% static 'images/security/emailGo.png' %}" alt="welcome"></div>
                        <h1>{% trans 'An email with password recovery instructions has been sent to the email address you provided' %}</h1>
                    </section>
                </div>
            </div>
        </main>
<script src="js/resetMenu2.js"></script>
{% endblock %}