{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}
{% block content %}
        <main>
            <div class="container">
                <div class="main">
                    <section class="profile">
                        <div class="profileList">
                            <ul>
                                <li>
                                    <a href="{% url 'home' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Newsline' %}</h4>
                                    </a>
                                </li>
                                {% if user.is_delegat %}
                                <li>
                                    <a href="{% url 'chats' %}">
                                        <div> <span>2</span><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Messages' %}</h4>
                                    </a>
                                </li>
                                {% endif %}
                                <li class="listActive">
                                    <a href="{% url 'delegats' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Delegates' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'rubrics' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Rubrics' %}</h4>
                                    </a>
                                </li>
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'profile' user.pk %}">
                                        <div><img src="{% static 'images/profile/profile.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Profile' %}</h4>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                        {% if user.is_superuser %}
                        <div class="profileList">
                            <h3>{% translate 'Management' %}</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'createchats' %}">
                                        <div><img src="{% static 'images/profile/settings.svg' %}" alt=""></div>
                                        <h4>{% translate 'Createchats' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'createnews' %}">
                                        <div><img src="{% static 'images/profile/security.svg' %}" alt=""></div>
                                        <h4>{% translate 'CreateNews' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <div><img src="{% static 'images/profile/list.svg' %}" alt=""></div>
                                        <h4>{% translate 'CreatePost' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'commentlist' %}">
                                        <div><img src="{% static 'images/profile/profile.svg' %}" alt="list"></div>
                                        <h4>{% translate 'Comments' %}</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <div class="profileSettings">
                            <h3>{% translate 'Settings' %}</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'settings' %}">
                                        <div><img src="{% static 'images/profile/settings.svg' %}" alt=""></div>
                                        <h4>{% translate 'Settings' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'security' %}">
                                        <div><img src="{% static 'images/profile/security.svg' %}" alt=""></div>
                                        <h4>{% translate 'Security' %}</h4>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}">
                                        <div><img src="{% static 'images/profile/quit.svg' %}" alt=""></div>
                                        <h4>{% translate 'Logout' %}</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </section>
                    
                    <section class="headMob">
                        <a href="profile.html" class="back"><img src="images/security/back1.svg" alt=""></a>
                        <h2>{% trans 'Basic settings' %}</h2>
                    </section>
                    <section id="introJs" class="setting">
                        <h3>{% trans 'Settings' %}</h3>
                        <form action="{% url 'settings' %}" class="settingForm" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                        <div class="avatar">
                            {% if user.image %}
                            <img src="{{ user.image.url }}" alt="ava">
                            {% else %}
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" alt="ava">
                            {% endif %}
                            <div class="forCamera">
                                {{ form.image }}
                                <span><img src="{% static 'images/profile/kamera.svg' %}" alt=""></span>
                            </div>
                        </div>

                            <div class="settingFormE">
                                <label for="userName">{% trans 'Username:' %}</label>
                                {{ form.username }}
                            </div>
                            <div class="settingFormE">
                                <label for="firstName">{% trans 'First Name:' %}</label>
                                {{ form.first_name }}
                            </div>
                            <div class="settingFormE">
                                <label for="lastName">{% trans 'Last Name:' %}</label>
                                {{ form.last_name }}
                            </div>
                            <div class="settingFormE forTextarea">
                                <label for="about">{% trans 'Short Information:' %}</label>
                                {{ form.description }}
                            </div>
                            <div class="settingFormDate">
                                <label>{% trans 'Place of birth:' %}</label>
                                {{ form.birth_of_place }}
                            </div>
                            <div class="settingFormE">
                                <label>Email:</label>
                                {{ form.email }}
                            </div>
                            <div class="settingFormE">
                                <label for="lastName">{% trans 'Living place:' %}</label>
                                {{ form.living_place }}
                            </div>
                            <div class="settingFormE">
                                <label for="lastName">{% trans 'Nation:' %}</label>
                                {{ form.nation }}
                            </div>
                            <div class="settingFormE">
                                <label for="lastName">{% trans 'Occupation:' %}</label>
                                {{ form.occupation }}
                            </div>
                            <div class="settingFormE">
                                <label for="lastName">{% trans 'Phone number:' %}</label>
                                {{ form.phone_number }}
                            </div>
                            <div class="settingFormE">
                                <label for="lastName">{% trans 'Region:' %}</label>
                                {{ form.region }}
                            </div>

                            <div class="settingActions">
                                <input class="reset" type="reset" value="{% trans 'Cancel' %}">
                                <input class="save" type="submit" value="{% trans 'Save' %}">
                            </div>
                        </form>
                    </section>

                    <section class="settingNav">
                        <h3>{% trans 'Settings' %}</h3>
                        <ul>
                            <li class="settingNavActive"><a href="setting.html">{% trans 'Basics' %}</a></li>
                            <li><a href="security.html">{% trans 'Security' %}<a></li>
                        </ul>
                    </section>

                </div>
            </div>
        </main>
    <footer class="footer">
            <div class="footerInner">
                <a href="{% url 'home' %}">
                    <div><img src="{% static 'images/modileFooter/home.svg' %}" alt=""></div>
                </a>
                <a href="{% url 'delegats' %}">
                    <div><img src="{% static 'images/modileFooter/people.svg' %}" alt=""></div>
                </a>
                <a href="{% url 'chats' %}">
                    <div><img src="{% static 'images/modileFooter/message.svg' %}" alt=""></div>
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'profile' user.pk %}">
                    <div><img src="{% static 'images/modileFooter/profile.svg' %}" alt=""></div>
                </a>
                {% else %}
                <a href="{% url 'home' %}">
                    <div><img src="{% static 'images/modileFooter/profile.svg' %}" alt=""></div>
                </a>
                {% endif %}
            </div>
        </footer>
{% endblock %}